<header>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><strong>AUTO STATUSS</strong></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "SĀKUMS", root_path%></li>
      <li><%= link_to "AUTO STATUSS", cars_path%></li>
      <li><%= link_to "DATI", data_path%></li>
      <li><%= link_to "PAR", about_path%></li>
      <li><%= link_to "KONTAKTI", contacts_path%></li>
    </ul>
  </div>
</nav>
</header>