<div class="row">
    <div class="col-sm-3"></div>

    <div class="col-sm-8">
        <br>
        <%= form_with url: "/search", method: :get do |form| %>
            <p>
            <%= form.label :make, "Ražotājs" %><br>
            <%= form.text_field :make, class: 'form-control'%>
            </p>

            <p>
            <%= form.label :model, "Modelis" %><br>
            <%= form.text_field :model, class: 'form-control' %>
            </p>
            
            <%= form.label :fuel, "Degviela" %><br>
            <select id="fuel" name="fuel" class="form-control">
                <option value="" ></option>
                <% Car.get_fuel_types.each do |fuel| %>
                    <option value="<%=fuel%>"><%=fuel%></option>
                <% end%>
            </select><br>

            <p>
            <%= form.check_box :only_make %>
            <%= form.label :only_make, "Atlasīt tikai pēc ražotāja" %><br>
            </p>            

            <p>
            <%= form.submit "ATLASĪT", class: 'form-control btn-primary' %>
            </p>
        <% end %>
    </div>

</div>