<div class="row">
    <div class="col-sm-4">

        <%= render 'layouts/search'%>

    </div>

    <div class="col-sm-8">

        <h3 class="text-center">ATLASĪTO AUTO SKAITS : <b><%= @list.count %></b> IERAKSTI </h3>
        <h4 class="text-center">ZEMĀK DOTI 
            <b><%if @list.count < 50 %>
                <%= @list.count%>
                <% else%>
                <%= "50"%>
                <% end %>
            </b> ATLASĪTIE IERAKSTI</h4><br>

        <table class="table table-striped">
                <thead>
                    <tr>
                        <th>RAŽOTĀJS / MODELIS</th>
                        <th>DEGVIELAS VEIDS</th>
                        <th>TA PĀRBAUDES VEIDS</th>
                        <th>REZULTĀTS</th>
                    </tr>
                </thead>
            <tbody>

                    <% @list.each_with_index do |car, index| %>
                        <% break if index > 50 %>
                        <tr>
                            <td><%= car.make %></td>
                            <td><%= car.fuel %></td>
                            <td><%= car.inspection %></td>
                            <td><%= car.score %></td>
                        </tr>
                    <% end %>

            </tbody>
        </table>

        <div class="container">
            
        </div>

    </div>

</div>