
<div class="row">

    <div class="col-sm-4">
        <%= render 'layouts/search'%>
        
    </div>

    <div class="col-sm-8">

        <div class="row">
            
            <div class="col-sm-4">
                <div>
                <br>
                <img src="<%=@thumbnail_url%>" class="img-thumbnail">
                </div>
            </div>
            <div class="col-sm-6">
                <h3>Meklētais auto:</h3>
                <p>Ražotājs: <strong><%= params[:make].upcase %></strong></p>
                <p>Modelis: <strong><%= params[:model].upcase %></strong></p>
                <p>Degvielas tips: <strong><%= params[:fuel].upcase %></strong></p>
                <p>Kopējais auto skaits pēc atlases kritērijiem: <strong class="seems-18px"><%= @list.count %></strong></p>
                <h4><strong>AUTO STATUSS:</strong><strong class="text-success"> <%= sprintf('%.2f', @average) %></strong></h4>
            </div > 
                
            <div class="col-sm-2 relative">
                <%= link_to "ATLASĪTIE IERAKSTI", list_path(make: params[:make], model: params[:model], fuel: params[:fuel]), class: "btn btn-primary"%>
            </div>  
        </div><br>

        <div class="row border-top">
            <br>
            <%= render 'layouts/car_graphs'%>
        </div>

    </div>

</div>