
<div class="row">
    <div class="col-sm-4">
        <%= render 'layouts/search'%>
        
    </div>

    <div class="col-sm-8">
        
        <div class="row">
            <h3>AUTO STATUSS ATSKAITE: </h3>
            <div class="col-sm-4">
                <div>
                <br>
                <img src="<%=@thumbnail_url%>" class="img-thumbnail">
                </div>
            </div>
            <div class="col-sm-8">
                <h3>Meklētais auto:</h3>
                <p>Ražotājs: <strong><%= params[:make].upcase %></strong></p>
                <p>Modelis: <strong><%= params[:model].upcase %></strong></p>
                <p>Degvielas tips: <strong><%= params[:fuel].upcase %></strong></p>
                <p>Kopējais auto skaits pēc atlases kritērijiem: <strong class="seems-18px"><%= @list.count %></strong></p>
                <h4><strong>AUTO STATUSS:</strong><strong class="text-success"> <%= sprintf('%.2f', @average) %></strong></h4>
            </div>   
        </div>
        <br>
        <div class="row border-top">
            <br>
            <%= render 'layouts/car_graphs'%>
        </div>

    </div>

</div>